@font-face {
  font-family: 'Clash Display';
  src: url('/fonts/ClashDisplay.ttf') format('truetype');
  font-display: auto;
}

// COLORS
$color-white: #ffffff;
$color-black: #181818;
$color-primary: #ff4615;

// RESPONSIVE
$breakpoint-sm: 639px;

// FONTS
$font-clash-display: 'Clash Display', sans-serif;
$font-size-s: 16px;
$font-size-m: 20px;
$font-size-l: 24px;

// RADIUS
$radius-default: 20px;

// TRANSITIONS
$transition-default: all 0.3s cubic-bezier(0.84, 0, 0.16, 1);

// PADDING
$padding-x-default: clamp(20px, 8vw, 100px);
$padding-y-default: clamp(20px, 8vh, 100px);

.shadow-y-white {
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(-180deg, #ffffff, #ffffff00);
    z-index: 1;
  }
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(0deg, #ffffff, #ffffff00);
    z-index: 1;
  }
}
