@font-face {
  font-family: 'Clash Display';
  src: url('/fonts/ClashDisplay.ttf') format('truetype');
  font-display: auto;
}

// COLORS
$color-white: theme('colors.white');
$color-white-opacity: theme('colors.white-opacity');
$color-black: theme('colors.black');
$color-black-opacity: theme('colors.black-opacity');
$color-primary: theme('colors.primary');

// MAX WIDTH
$max-width: theme('maxWidth.default');

// PADDINGS
$x-default: theme('padding.x-default');
$y-default: theme('padding.y-default');

// FONTS
$font-clash-display: 'Clash Display', sans-serif;

// TRANSITIONS
$transition-default: all 0.3s cubic-bezier(0.84, 0, 0.16, 1);

.transition-default {
  transition: $transition-default;
}

.no-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.shadow-y-white {
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(-180deg, #ffffff, #ffffff00);
    z-index: 1;
  }
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(0deg, #ffffff, #ffffff00);
    z-index: 1;
  }
}

.shadow-x-white {
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    background: linear-gradient(90deg, #ffffff00, #ffffff);
    z-index: 1;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    background: linear-gradient(-90deg, #ffffff00, #ffffff);
    z-index: 1;
  }
}

.shadow-bakground {
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 999px;
    width: 80px;
    height: 80px;
    transform: translate(-50%, -50%) scale(0);
    background: radial-gradient(circle, #0048ff52 0%, #0048ff28 20%, #0047ff00 45%);
    transition: all 0.3s ease-in-out;
    z-index: -1;
    opacity: 0;
  }
  &:hover {
    &::after {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

.shadow-x-black {
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: clamp(20px, 8vw, 100px);
    height: 100%;
    background: linear-gradient(90deg, #18181800, #181818);
    z-index: 1;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: clamp(20px, 8vw, 100px);
    height: 100%;
    background: linear-gradient(-90deg, #18181800, #181818);
    z-index: 1;
  }
}

.text-ellipsis-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.slider-item {
  flex: 0 0 50%;

  &:not(:last-child) {
    padding-right: 20px;
  }

  &:not(:first-child) {
    padding-left: 20px;
  }

  @media screen and (max-width: 768px) {
    flex: 0 0 75%;
  }

  @media screen and (min-width: 1024px) {
    flex: 0 0 33.33%;
  }
}

.-left-x-calc {
  left: calc((((100vw - $max-width) / 2) + $x-default) * -1);
  @media screen and (max-width: $max-width) {
    left: calc($x-default * -1);
  }
}
.-left-x-calc-padding {
  left: calc(((100vw - $max-width) / 2) * -1);
  @media screen and (max-width: 1920px) {
    left: calc($x-default * -1);
  }
}
.-right-x-calc {
  right: calc((((100vw - $max-width) / 2) + $x-default) * -1);
  @media screen and (max-width: $max-width) {
    right: calc($x-default * -1);
  }
}
.-right-x-calc-padding {
  right: calc(((100vw - $max-width) / 2) * -1);
  @media screen and (max-width: 1920px) {
    right: calc($x-default * -1);
  }
}
