@font-face {
  font-family: 'Clash Display';
  src: url('/fonts/ClashDisplay.ttf') format('truetype');
  font-display: auto;
}

// COLORS
$color-white: theme('colors.white');
$color-black: theme('colors.black');
$color-primary: theme('colors.primary');

// FONTS
$font-clash-display: 'Clash Display', sans-serif;

// TRANSITIONS
$transition-default: all 0.3s cubic-bezier(0.84, 0, 0.16, 1);

.no-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.shadow-y-white {
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(-180deg, #ffffff, #ffffff00);
    z-index: 1;
  }
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(0deg, #ffffff, #ffffff00);
    z-index: 1;
  }
}

.shadow-x-white {
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    background: linear-gradient(90deg, #ffffff00, #ffffff);
    z-index: 1;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    background: linear-gradient(-90deg, #ffffff00, #ffffff);
    z-index: 1;
  }
}

.shadow-bakground {
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 999px;
    width: 80px;
    height: 80px;
    transform: translate(-50%, -50%) scale(0);
    background: radial-gradient(circle, #0048ff52 0%, #0048ff28 20%, #0047ff00 45%);
    transition: all 0.3s ease-in-out;
    z-index: -1;
    opacity: 0;
  }
  &:hover {
    &::after {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
}
