.wrapper-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 9999px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  white-space: nowrap;
  font-family: $font-clash-display;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  display: flex;
  
}

.button-primary.button-white {
  background: $color-white;
  color: $color-black;
}
.button-primary.button-black {
  background: $color-black;
  color: $color-white;
}

.button-secondary.button-white {
  border: 2px solid $color-white;
  color: $color-white;
}
.button-secondary.button-black {
  border: 2px solid $color-black;
  color: $color-black;
}

.button-s {
  padding: 4px 24px;
  font-size: 16px;
}
.button-m {
  padding: 6px 32px;
  font-size: clamp(0.5rem, 1.5vw, 3rem);
}
.button-l {
  padding: 12px 64px;
  font-size: clamp(1rem, 2vw, 2rem);
}
