.curve {
  .svg-anim {
    position: fixed;
    height: calc(100vh + 600px);
    width: 100vw;
    pointer-events: none;
    left: 0;
    top: 0;
    fill: $color-black;
  }
  .svg-anim.hide {
    fill: transparent;
  }
  .route {
    position: absolute;
    left: 50%;
    top: 40%;
    color: $color-white;
    font-size: 46px;
    z-index: 3;
    transform: translateX(-50%);
    text-align: center;
  }
}
